table {
	border-collapse: collapse;
	margin-bottom: 20px;
	table-layout: fixed;
}
th, td {
	border: 1px solid black;
	padding: 4px;
	width: 100px;
	max-width: 500px; /* Adjust this value as needed */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}
th:first-child,
td:first-child {
	font-size: 13px
}

.button-wrapper {text-align:left;display:inline-block; margin:10px;}
@media print {
  body {
    visibility: hidden;
  }
  #tableContainer {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
}